USE [SwapDB]
GO
/****** Object:  Table [dbo].[Notify]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notify](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccID] [int] NOT NULL,
	[SubAcc] [int] NULL,
	[BookID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](150) NULL,
 CONSTRAINT [PK_Notify] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Notify] ON
INSERT [dbo].[Notify] ([ID], [AccID], [SubAcc], [BookID], [Date], [Status]) VALUES (18, 1, 2, 100, CAST(0x0000A3F100A062D3 AS DateTime), N'đã bình luận')
INSERT [dbo].[Notify] ([ID], [AccID], [SubAcc], [BookID], [Date], [Status]) VALUES (19, 1, 2, 100, CAST(0x0000A3F100A062D5 AS DateTime), N'đã bình luận')
INSERT [dbo].[Notify] ([ID], [AccID], [SubAcc], [BookID], [Date], [Status]) VALUES (20, 1, 2, 100, CAST(0x0000A3F100A062D5 AS DateTime), N'đã bình luận')
SET IDENTITY_INSERT [dbo].[Notify] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Passwd] [varchar](30) NOT NULL,
	[Fullname] [nvarchar](25) NOT NULL,
	[Gender] [bit] NULL,
	[Phone] [int] NULL,
	[City] [nvarchar](20) NULL,
	[UsrAddress] [nvarchar](50) NULL,
	[Avatar] [varchar](255) NULL,
	[AccType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Account__3214EC271273C1CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Account__A9D1053415502E78] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([ID], [Email], [Passwd], [Fullname], [Gender], [Phone], [City], [UsrAddress], [Avatar], [AccType]) VALUES (1, N'vlynk293@gmail.com', N'1231233', N'Vlynk', 1, 1234560329, N'Hồ Chí Minh', N'12A Q12', N'~/UserImg/User/10603350_940898702594241_4012555116607712416_n.jpg', N'Admin')
INSERT [dbo].[Account] ([ID], [Email], [Passwd], [Fullname], [Gender], [Phone], [City], [UsrAddress], [Avatar], [AccType]) VALUES (2, N'vl@mail.com', N'123123123', N'Thuy Kieu Lam', 0, 17241417, N'Phu Quoc', N'To 18, khu pho 8, Duong Dong', N'~/UserImg/User/10612589_510585839085653_7202641027714427537_n.jpg', N'User')
INSERT [dbo].[Account] ([ID], [Email], [Passwd], [Fullname], [Gender], [Phone], [City], [UsrAddress], [Avatar], [AccType]) VALUES (3, N'linhnvse61247@fpt.edu.vn', N'123123123', N'Linh Linh', 1, 241417, N'Hồ Chí Minh', N'To 18, khu pho 8, Duong Dong', N'~/UserImg/User/10308121_431728256965441_3831740794271524246_n.jpg', N'User')
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Category__3214EC27023D5A04] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Category__737584F60519C6AF] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([ID], [Name]) VALUES (10, N'Bài học đạo đức')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Chăm sóc sức khỏe')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Danh nhân - người nổi tiếng')
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Book]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Author] [nvarchar](30) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Publisher] [nvarchar](30) NULL,
	[PblYear] [numeric](4, 0) NULL,
	[Descrptn] [nvarchar](600) NULL,
	[Price] [int] NULL,
	[BookImage] [varchar](255) NULL,
	[BookStatus] [nvarchar](20) NOT NULL,
	[City] [nvarchar](20) NULL,
	[DetailAddr] [nvarchar](50) NULL,
	[PostDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
 CONSTRAINT [PK__Book__3214EC271FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON
INSERT [dbo].[Book] ([ID], [AccID], [Title], [Author], [CategoryID], [Publisher], [PblYear], [Descrptn], [Price], [BookImage], [BookStatus], [City], [DetailAddr], [PostDate], [DueDate]) VALUES (1, 1, N'Hành Tỏi Trị Bệnh', N'Trần Thanh Hà', 1, N'NXB Phụ Nữ', CAST(2014 AS Numeric(4, 0)), NULL, 20, N'~/UserImg/Book/hanh-toi-tri-benh.jpg', N'Đã xác nhận đổi', N'Đà Nẵng', N'12 A Phạm Ngũ Lão ', CAST(0x0000A3F100000000 AS DateTime), CAST(0x0000A41100000000 AS DateTime))
INSERT [dbo].[Book] ([ID], [AccID], [Title], [Author], [CategoryID], [Publisher], [PblYear], [Descrptn], [Price], [BookImage], [BookStatus], [City], [DetailAddr], [PostDate], [DueDate]) VALUES (3, 2, N'Bách Khoa Sức Khỏe - Phòng Và Trị Bệnh Thường Gặp Ở Tuổi Trung Thanh Niên', N'Nhiều Tác Giả', 1, N'NXB Hồng Đức', CAST(2014 AS Numeric(4, 0)), NULL, 40, N'~/UserImg/Book/phong-tri-benh-thuong-gap-tuoi-trung-nien.jpg', N'Đã duyệt', N'Đà Nẵng', N'12 A Phạm Ngũ Lão ', CAST(0x0000A3EE00000000 AS DateTime), CAST(0x0000A41100000000 AS DateTime))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Book] OFF
/****** Object:  Table [dbo].[SwapItem]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SwapItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[AccID] [int] NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemTitle] [nvarchar](50) NOT NULL,
	[ItemDcrpt] [nvarchar](100) NULL,
	[ItemImage] [varchar](255) NULL,
	[Price] [int] NULL,
	[ItemStatus] [nvarchar](20) NOT NULL,
	[PostDate] [datetime] NOT NULL,
 CONSTRAINT [PK__SwapItem__3214EC27239E4DCF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SwapItem] ON
INSERT [dbo].[SwapItem] ([ID], [BookID], [AccID], [ItemType], [ItemTitle], [ItemDcrpt], [ItemImage], [Price], [ItemStatus], [PostDate]) VALUES (1, 42, 1, N'Đổi sách', N'Demo', N'Sach hay!', NULL, NULL, N'Đang chờ', CAST(0x0000A3F1000654B4 AS DateTime))
INSERT [dbo].[SwapItem] ([ID], [BookID], [AccID], [ItemType], [ItemTitle], [ItemDcrpt], [ItemImage], [Price], [ItemStatus], [PostDate]) VALUES (2, 4, 1, N'Đổi sách', N'12 Giờ Trên Mặt Trăng', N'Hihi', N'~/UserImg/Swap/4fa0e762-11e4-4742-9cb9-81dc4f7a945112-gio-tren-mat-trang.jpg', NULL, N'Đang chờ', CAST(0x0000A3F10018AA10 AS DateTime))
INSERT [dbo].[SwapItem] ([ID], [BookID], [AccID], [ItemType], [ItemTitle], [ItemDcrpt], [ItemImage], [Price], [ItemStatus], [PostDate]) VALUES (3, 91, 1, N'Đổi sách', N'10 Phút Tự Học Tiếng Nhật Mỗi Ngày', N'Hiệu quả', N'~/UserImg/Swap/f7aa3e32-a40f-48d9-bfbd-b4169a44182710-phut-tu-hoc-tieng-nhat-moi-ngay.jpg', NULL, N'Đã xác nhận đổi', CAST(0x0000A3F1001C2A8C AS DateTime))
SET IDENTITY_INSERT [dbo].[SwapItem] OFF
/****** Object:  Table [dbo].[SwapTransaction]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[SwapItemID] [int] NOT NULL,
	[SwapDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SwapItemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SwapTransaction] ON
INSERT [dbo].[SwapTransaction] ([ID], [BookID], [SwapItemID], [SwapDate]) VALUES (1, 91, 3, CAST(0x0000A3F100215DC5 AS DateTime))
INSERT [dbo].[SwapTransaction] ([ID], [BookID], [SwapItemID], [SwapDate]) VALUES (2, 100, 10, CAST(0x0000A3F1005F1D03 AS DateTime))
INSERT [dbo].[SwapTransaction] ([ID], [BookID], [SwapItemID], [SwapDate]) VALUES (3, 94, 11, CAST(0x0000A3F100A1A9E6 AS DateTime))
SET IDENTITY_INSERT [dbo].[SwapTransaction] OFF
/****** Object:  Table [dbo].[Comment]    Script Date: 11/28/2014 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SwapItemID] [int] NOT NULL,
	[AccID] [int] NOT NULL,
	[Content] [nvarchar](200) NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON
INSERT [dbo].[Comment] ([ID], [SwapItemID], [AccID], [Content], [CommentDate]) VALUES (1, 4, 1, N'Hay đó', CAST(0x0000A3F100352C80 AS DateTime))
INSERT [dbo].[Comment] ([ID], [SwapItemID], [AccID], [Content], [CommentDate]) VALUES (2, 7, 1, N'Hay!', CAST(0x0000A3F1004A0D6C AS DateTime))
INSERT [dbo].[Comment] ([ID], [SwapItemID], [AccID], [Content], [CommentDate]) VALUES (3, 10, 2, N'hihi', CAST(0x0000A3F1005BD9AC AS DateTime))
SET IDENTITY_INSERT [dbo].[Comment] OFF
/****** Object:  Check [Account_chk]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [Account_chk] CHECK  (([Email] like '_%@_%._%'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [Account_chk]
GO
/****** Object:  Check [Book_chk]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [Book_chk] CHECK  (([DueDate]>[PostDate]))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [Book_chk]
GO
/****** Object:  ForeignKey [FK__Book__AccID__32E0915F]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Book__AccID__32E0915F] FOREIGN KEY([AccID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Book__AccID__32E0915F]
GO
/****** Object:  ForeignKey [FK__Book__CategoryID__33D4B598]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Book__CategoryID__33D4B598] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Book__CategoryID__33D4B598]
GO
/****** Object:  ForeignKey [FK__Comment__AccID__37A5467C]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__AccID__37A5467C] FOREIGN KEY([AccID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__AccID__37A5467C]
GO
/****** Object:  ForeignKey [FK__Comment__SwapIte__36B12243]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__SwapIte__36B12243] FOREIGN KEY([SwapItemID])
REFERENCES [dbo].[SwapItem] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__SwapIte__36B12243]
GO
/****** Object:  ForeignKey [FK__SwapItem__AccID__35BCFE0A]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[SwapItem]  WITH CHECK ADD  CONSTRAINT [FK__SwapItem__AccID__35BCFE0A] FOREIGN KEY([AccID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[SwapItem] CHECK CONSTRAINT [FK__SwapItem__AccID__35BCFE0A]
GO
/****** Object:  ForeignKey [FK__SwapItem__BookID__34C8D9D1]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[SwapItem]  WITH CHECK ADD  CONSTRAINT [FK__SwapItem__BookID__34C8D9D1] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[SwapItem] CHECK CONSTRAINT [FK__SwapItem__BookID__34C8D9D1]
GO
/****** Object:  ForeignKey [FK__SwapTrans__BookI__38996AB5]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD  CONSTRAINT [FK__SwapTrans__BookI__38996AB5] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction] CHECK CONSTRAINT [FK__SwapTrans__BookI__38996AB5]
GO
/****** Object:  ForeignKey [FK__SwapTrans__SwapI__398D8EEE]    Script Date: 11/28/2014 11:45:04 ******/
ALTER TABLE [dbo].[SwapTransaction]  WITH CHECK ADD  CONSTRAINT [FK__SwapTrans__SwapI__398D8EEE] FOREIGN KEY([SwapItemID])
REFERENCES [dbo].[SwapItem] ([ID])
GO
ALTER TABLE [dbo].[SwapTransaction] CHECK CONSTRAINT [FK__SwapTrans__SwapI__398D8EEE]
GO
